<%= render partial: 'nav' %> 

<% if notice %>
  <div id='notice' class='alert alert-success'>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div id='alert' class='alert alert-danger'>
    <%= alert %>
  </div>
<% end %>

<div class='page-header'>
  <h1>Rules</h1>
</div>

<div class='row'>
  <table class='table table-bordered table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Parameters</th>
        <th>Context</th>
        <th>Rule</th>
        <th>Alternatives</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @rules.each do |rule| %>
        <tr>
          <td><%= rule.name %></td>
          <td><%= rule.description %></td>
          <td><%= rule.parameters %></td>
          <td><%= rule.context.name if rule.context.present? %></td>
          <td><%= rule.rule %></td>
          <td><%= rule.alternatives.length %> alternatives</td>
          <td>
            <div class='btn-group'>
              <%= link_to 'Show', rule, class: 'btn btn-default btn-xs' %>
              <%= link_to 'Edit', edit_rule_path(rule), class: 'btn btn-default btn-xs' %>
              <%= link_to 'Destroy', rule, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class='form-actions'>
    <%= link_to 'New Rule', new_rule_path, class: 'btn btn-primary' %>
  </div>
</div>
