<%= render partial: 'nav' %> 

<% if notice %>
  <div id='notice' class='alert alert-success span12'>
    <%= notice %>
  </div>
<% end %>

<div class='span12'>
  <dl class='dl-horizontal'>
    <dt><strong>Name:</strong></dt>
      <dd><%= @rule.name %></dd>
    <br>
    <dt><strong>Description:</strong></dt>
      <dd><%= @rule.description %></dd>
    <br>
    <dt><strong>Parameters:</strong></dt>
      <dd><%= @rule.parameters %></dd>
    <br>
    <dt><strong>Context:</strong></dt>
      <dd><%= @rule.context.name %></dd>
    <br>
    <dt><strong>Rule:</strong></dt>
      <dd><%= @rule.rule %></dd>
    <br>
    <dt><strong>Alternatives:</strong></dt>
      <dd>
        <div id="sortable">
          <% i = 0 %>
          <% @rule.alternatives.sort { |a, b| a.priority <=> b.priority }.each do |alternative| %>
            <div class='accordion-group ui-state-default' id='alternative<%= alternative.id %>'>
              <div class='accordion-heading'>
                <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%= i %>">
                  <%= alternative.description %>
                </a>
              </div>
              <div id="collapse<%= i %>" class="accordion-body collapse <%= "in" if i==0 %>">
                <div class="accordion-inner">
                  <strong>Condition:</strong>
                  <%= alternative.condition %>
                  <br>
                  <strong>Alternative:</strong>
                  <%= alternative.alternative %>
                  <br>
                  <%= link_to 'Edit', edit_rule_alternative_path(@rule, alternative), class: 'btn btn-mini' %>
                  <%= link_to 'Destroy',
                              [@rule, alternative],
                              class: 'btn btn-mini btn-danger',
                              method: :delete,
                              data: { confirm: 'Are you sure? '} %>
                </div>
              </div>
            </div>
            <% i += 1 %>
          <% end %>
        </div>
        <%= link_to 'Add alternative', new_rule_alternative_path(@rule) %>
      </dd>
  </dl>
  <div class='form-actions'>
    <%= link_to 'Back', rules_path, class: 'btn' %>
    <%= link_to 'Edit', edit_rule_path(@rule), class: 'btn' %>
    <%= link_to 'Destroy',
                @rule,
                class: 'btn btn-danger',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<script type="text/javascript">
  $('#sortable').sortable({
    axis: 'y',
    stop: function (event, ui) {
      var data = $(this).sortable('toArray').toString();
      data = "order=" + data;

      // POST to server using $.post or $.ajax
      $.ajax({
          data: data,
          type: 'POST',
          url: '/rulez/rules/<%= @rule.id %>/sort_alternatives'
      });
    }
  });
</script>