<%= render partial: 'nav' %> 

<% if notice %>
  <div id='notice' class='alert alert-success'>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div id='alert' class='alert alert-danger'>
    <%= alert %>
  </div>
<% end %>

<div class='row'>
  <dl class='dl-horizontal'>
    <dt><strong>Name:</strong></dt>
      <dd><%= @variable.name %></dd>
    <br>
    <dt><strong>Description:</strong></dt>
      <dd><%= @variable.description %></dd>
    <br>
  </dl>
  <div>
    <%= link_to 'Back', variables_path, class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_variable_path(@variable), class: 'btn btn-default' %>
    <%= link_to 'Destroy',
                @variable,
                class: 'btn btn-danger',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
</div>