<%= form_for(@symbol) do |f| %>
  <% if @symbol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@symbol.errors.count, "error") %> prohibited this symbol from being saved:</h2>

      <ul>
      <% @symbol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.select :model, @models.collect {|x| [x.name, x.name]}, {}, :multiple => false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
