<%= render partial: 'nav' %> 

<% if notice %>
  <div id='notice' class='alert alert-success span12'>
    <%= notice %>
  </div>
<% end %>

<div class='span12'>
  <dl class='dl-horizontal'>
    <dt><strong>Name:</strong></dt>
      <dd><%= @symbol.name %></dd>
    <br>
    <dt><strong>Description:</strong></dt>
      <dd><%= @symbol.description %></dd>
  </dl>
  <div class='form-actions'>
    <%= link_to 'Back', symbols_path, class: 'btn' %>
    <%= link_to 'Edit', edit_symbol_path(@symbol), class: 'btn' %>
    <%= link_to 'Destroy',
                @symbol,
                class: 'btn btn-danger',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
</div>