<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    var BASE_URL = '<%= root_url %>';
  </script>
  <title>Rulez</title>
  <%= stylesheet_link_tag    "rulez/application", :media => "all" %>
  <%= javascript_include_tag "rulez/application" %>
  <%= javascript_include_tag "rulez/bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <%= yield :nav %>
    </div>
    <div class='row'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
