<h1>Listing contexts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Symbols</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contexts.each do |context| %>
      <tr>
        <td><%= context.name %></td>
        <td><%= context.description %></td>
        <td>
          <% context.symbols.each do |sym| %>
            <%= sym.name %><br>
          <% end %>
        </td>
        <td><%= link_to 'Show', context %></td>
        <td><%= link_to 'Edit', edit_context_path(context) %></td>
        <td><%= link_to 'Destroy', context, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Context', new_context_path %>
