<%= render partial: 'nav' %>

<% if notice %>
  <div id='notice' class='alert alert-success span12'>
    <%= notice %>
  </div>
<% end %>

<div class='span12'>
  <dl class='dl-horizontal'>
    <dt><strong>Name:</strong></dt>
      <dd><%= @context.name %></dd>
    <br>
    <dt><strong>Description:</strong></dt>
      <dd><%= @context.description %></dd>
    <br>
    <dt><strong>Variables:</strong></dt>
      <% @context.variables.each do |s| %>
        <dd><%= s.name %></dd>
      <% end %>
  </dl>
  <div class='form-actions'>
    <%= link_to 'Back', contexts_path, class: 'btn' %>
    <%= link_to 'Edit', edit_context_path(@context), class: 'btn' %>
    <%= link_to 'Destroy',
                @context,
                class: 'btn btn-danger',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
</div>


