<%= javascript_include_tag "rulez/doctor.js" %>

<% if @errors.empty? %>
  Rules are perfect, stars sing and all the universe is in peace.
<% else %>
  <table class='table table-bordered table-hover'>
    <tr>
      <th>Error level</th>
      <th>Problematic element</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <% @errors.each do |e| %>
      <tr>
        <td>
          <%= e[:level].to_s.camelize %>
        </td>
        <td>
          <%= e[:name] + " (" + e[:type] + ")" %>
        </td>
        <td>
          <%= e[:description] %>
        </td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Show', e[:show_path], class: 'btn btn-sm btn-default' %>
            <%= link_to 'Edit', e[:edit_path], class: 'btn btn-sm btn-default' %>
            <%= content_tag(:div, "Delete", {class: 'btn btn-sm btn-danger delete_button', "data-route" => e[:destroy_path]}) %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>