<%= javascript_include_tag "rulez/index" %>
<%= stylesheet_link_tag "rulez/dashboard" %>

<%= render partial: 'nav' %> 

<div class='page-header'>
  <h1>Dashboard</h1>
</div>

<div class='row'>
  <div id='doctor_button' class='btn btn-primary'>
    Run Doctor
  </div>
  <div id='doctor_output' class='row'>
  </div>
  <br>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      rulez.log
    </div>
    <ul class='list-group'>
      <% f = File.open('log/rulez.log') %>
      <% lines = [] %>
      <% f.each_line { |line| lines << line } %>
      <% f.close %>
      <% display_lines = lines[(lines.length-10)...(lines.length)].reverse %>
      <% display_lines.each do |line| %>
        <% item_color = '' %>
        <% case line %>
          <% when /\[FATAL\]/ %>
            <% item_color = 'item-fatal' %>
          <% when /\[ERROR\]/ %>
            <% item_color = 'item-error' %>
          <% when /\[WARNING\]/ %>
            <% item_color = 'item-warning' %>
          <% when /\[DEBUG\]/ %>
            <% item_color = 'item-debug' %>
          <% when /\[INFO\]/ %>
            <% item_color = 'item-info' %>
        <% end %>
        <li class='list-group-item <%= item_color %>'>
          <%= "#{line}" %>
        </li>
      <% end %>
    </ul>
   </div>
</div>