<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @alternative.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @alternative.condition %>
</p>

<p>
  <strong>Alternative:</strong>
  <%= @alternative.alternative %>
</p>

<%= link_to 'Edit', edit_alternative_path(@alternative) %> |
<%= link_to 'Back', alternatives_path %>
